## ***Question 1: Customer Data Filtering***

Filter customers who spent more than $200 in total:


customers = [
    {"name": "Ali", "total_spent": 150},
    {"name": "Sara", "total_spent": 350},
    {"name": "Ahmed", "total_spent": 220},
    {"name": "Fatima", "total_spent": 180},
    {"name": "Usman", "total_spent": 500}
]

#### **Expected Output:**

High-value customers: ['Sara', 'Ahmed', 'Usman']

## ***Answer No.1***

In [1]:
customers = [
    {"name": "Ali", "total_spent": 150},
    {"name": "Sara", "total_spent": 350},
    {"name": "Ahmed", "total_spent": 220},
    {"name": "Fatima", "total_spent": 180},
    {"name": "Usman", "total_spent": 500}
]

In [2]:
print(f"High-value customers: {[customer["name"] for customer in customers if customer['total_spent'] > 200]}")

High-value customers: ['Sara', 'Ahmed', 'Usman']

## ***Question 2: Price Conversion***

Convert prices from USD to PKR (1 USD = 280 PKR):


usd_prices = [25, 60, 120, 45, 200]


#### **Expected Output:**


Prices in PKR: [7000, 16800, 33600, 12600, 56000]

## ***Answer No.2***

In [3]:
usd_prices = [25, 60, 120, 45, 200]

In [4]:
print(f"Prices in PKR: {[price*280 for price in usd_prices]}")

Prices in PKR: [7000, 16800, 33600, 12600, 56000]

## ***Question 3: Sales Commission Calculation***

Calculate 15% commission only for sales above $1000:

sales = [800, 1200, 4500, 6000, 300, 7500]


#### **Expected Output:**


Commissions: [0, 180.0, 675.0, 900.0, 0, 1125.0]

## ***Answer No.3***

In [5]:
sales = [800, 1200, 4500, 6000, 300, 7500]

In [6]:
print(f"Commissions: {[sale * 0.15 if sale > 1000 else 0 for sale in sales]}")    #Type the else statement before going in the loop.

Commissions: [0, 180.0, 675.0, 900.0, 0, 1125.0]

## ***Question 4: Customer Dictionary Creation***

Create a dictionary of customer names and their spending categories:

"High" if spent > 250

"Medium" if spent 100-250

"Low" if spent < 100

customers = [("Ali", 150), ("Sara", 350), ("Ahmed", 80), ("Fatima", 300)]


#### **Expected Output:**


{'Ali': 'Medium', 'Sara': 'High', 'Ahmed': 'Low', 'Fatima': 'High'}

## ***Answer No.4***

In [7]:
customers = [("Ali", 150), ("Sara", 350), ("Ahmed", 80), ("Fatima", 300)]

In [8]:
customer_spending_categories = {name: "High" if spent > 250 else "Medium" if spent >= 100 else "Low" for name, spent in customers}

In [9]:
customer_spending_categories

{'Ali': 'Medium', 'Sara': 'High', 'Ahmed': 'Low', 'Fatima': 'High'}

## ***Question 5: Unique Cities Extraction***

Extract unique cities from customer data:


customers = [
    {"name": "Ali", "city": "Lahore"},
    {"name": "Sara", "city": "Karachi"},
    {"name": "Ahmed", "city": "Lahore"},
    {"name": "Fatima", "city": "Islamabad"},
    {"name": "Usman", "city": "Karachi"}
]

#### **Expected Output:**


Unique cities: {'Lahore', 'Karachi', 'Islamabad'}

## ***Answer No.5***

In [10]:
customers = [ 
    {"name": "Ali", "city": "Lahore"}, 
    {"name": "Sara", "city": "Karachi"}, 
    {"name": "Ahmed", "city": "Lahore"}, 
    {"name": "Fatima", "city": "Islamabad"}, 
    {"name": "Usman", "city": "Karachi"} 
]

In [11]:
unique_cities = {customer["city"] for customer in customers}        #Using set comprehension when acquiring unique values with just {}.

In [12]:
print(f"Unique cities: {unique_cities}")            #Cannot use f-string when using set comprehension therefore make a variable first then print it.

Unique cities: {'Islamabad', 'Karachi', 'Lahore'}

## ***Question 6: Product Rating Filter***

Filter products with rating 4.0 or higher:

products = [
    {"name": "Laptop", "rating": 4.5},
    {"name": "Phone", "rating": 3.8},
    {"name": "Tablet", "rating": 4.2},
    {"name": "Watch", "rating": 4.7}
]

#### **Expected Output:**


Highly rated products: ['Laptop', 'Tablet', 'Watch']

## ***Answer No.6***

In [13]:
products = [ 
    {"name": "Laptop", "rating": 4.5}, 
    {"name": "Phone", "rating": 3.8}, 
    {"name": "Tablet", "rating": 4.2}, 
    {"name": "Watch", "rating": 4.7} 
]

In [14]:
print(f"Highly rated products: {[product['name'] for product in products if product['rating'] > 4.0]}")

Highly rated products: ['Laptop', 'Tablet', 'Watch']

## ***Question 7: Monthly Sales Growth Calculation***

Calculate monthly growth percentage:


monthly_sales = [50000, 55000, 60000, 65000, 70000]


#### **Expected Output:**


Growth percentages: [0.0, 10.0, 9.09, 8.33, 7.69]

## ***Answer No.7***

In [15]:
monthly_sales = [50000, 55000, 60000, 65000, 70000]

In [16]:
percentage = [0.0 if i == 0 else round((monthly_sales[i] - monthly_sales[i-1]) / monthly_sales[i-1] * 100, 2) 
                                  for i in range(len(monthly_sales))]

In [17]:
print(f"Growth percentages: {percentage}")

Growth percentages: [0.0, 10.0, 9.09, 8.33, 7.69]

## ***Question 8: E-commerce Discount Calculator***

Calculate discounts for products:

Products with price > $100 get 20% discount

Products with price $50-$100 get 10% discount

Products < $50 get no discount

prices = [25, 60, 120, 45, 200, 75, 30]


#### **Expected Output:**


Final prices after discount: [25.0, 54.0, 96.0, 45.0, 160.0, 67.5, 30.0]

## ***Answer No.8***

In [18]:
prices = [25, 60, 120, 45, 200, 75, 30]

In [19]:
discount = [price * 0.8 if price > 100 else price * 0.9 if price >= 50 else price * 1.0 for price in prices]

In [20]:
print(f"Final prices after discount: {discount}")

Final prices after discount: [25.0, 54.0, 96.0, 45.0, 160.0, 67.5, 30.0]

## ***Question 9: Employee Bonus Calculation***

Calculate 10% bonus for employees with salary > 50000:


employees = [
    {"name": "Ali", "salary": 45000},
    {"name": "Sara", "salary": 65000},
    {"name": "Ahmed", "salary": 55000},
    {"name": "Fatima", "salary": 40000}
]

#### **Expected Output:**


Bonus amounts: [0, 6500.0, 5500.0, 0]

## ***Answer No.9***

In [21]:
employees = [ 
    {"name": "Ali", "salary": 45000}, 
    {"name": "Sara", "salary": 65000}, 
    {"name": "Ahmed", "salary": 55000}, 
    {"name": "Fatima", "salary": 40000} 
]

In [22]:
bonus = [employee['salary'] * 0.1 if employee['salary'] > 50000 else employee['salary'] * 0 for employee in employees]

In [23]:
print(f"Bonus amounts: {bonus}")

Bonus amounts: [0, 6500.0, 5500.0, 0]

## ***Question 10: Data Normalization***

Normalize data to range 0-1:

data = [10, 20, 30, 40, 50]


#### **Expected Output:**


Normalized data: [0.0, 0.25, 0.5, 0.75, 1.0]

## ***Answer No.10***

In [24]:
data = [10, 20, 30, 40, 50]

In [25]:
normalize = [(x - min(data)) / (max(data) - min(data)) for x in data]         #Used max-min normalized formula.

In [26]:
print(f"Normalized data: {normalize}")

Normalized data: [0.0, 0.25, 0.5, 0.75, 1.0]

## ***Question 11: Customer Age Categories***

Categorize customers by age:

"Young" if age < 30

"Middle" if age 30-50

"Senior" if age > 50

customers = [("Ali", 25), ("Sara", 35), ("Ahmed", 55), ("Fatima", 28)]


#### **Expected Output:**


Age categories: ['Young', 'Middle', 'Senior', 'Young']

## ***Answer No.11***

In [27]:
customers = [("Ali", 25), ("Sara", 35), ("Ahmed", 55), ("Fatima", 28)]

In [28]:
age_category = ["Senior" if age > 50 else 
                "Middle" if age >= 30 else 
                "Young" 
                for name, age in customers]

In [29]:
print(f"Age categories: {age_category}")

Age categories: ['Young', 'Middle', 'Senior', 'Young']

## ***Question 12: Product Price Tiers***

Categorize products by price:

"Budget" if price < 50

"Standard" if price 50-200

"Premium" if price > 200

products = [25, 60, 120, 45, 200, 75, 300]


#### **Expected Output:**


Price tiers: ['Budget', 'Standard', 'Standard', 'Budget', 'Standard', 'Standard', 'Premium']

## ***Answer No.12***

In [30]:
products = [25, 60, 120, 45, 200, 75, 300]

In [31]:
Price_tiers = ["Budget" if price < 50 else 
                "Standard" if price <= 200 else 
                "Premium" 
                for price in products]

In [32]:
print(f"Price tiers: {Price_tiers}")

Price tiers: ['Budget', 'Standard', 'Standard', 'Budget', 'Standard', 'Standard', 'Premium']

## ***Question 13: Sales Performance Rating***

Rate sales performance:

"Excellent" if sales > 10000

"Good" if sales 5000-10000

"Needs Improvement" if sales < 5000

sales = [8000, 12000, 3000, 15000, 6000]


#### **Expected Output:**


Performance ratings: ['Good', 'Excellent', 'Needs Improvement', 'Excellent', 'Good']

## ***Answer No.13***

In [33]:
sales = [8000, 12000, 3000, 15000, 6000]

In [34]:
performance = ["Needs Improvement" if sale < 5000 else 
                "Good" if sale <= 10000 else 
                "Excellent" 
                for sale in sales]

In [35]:
print(f"Performance ratings: {performance}")

Performance ratings: ['Good', 'Excellent', 'Needs Improvement', 'Excellent', 'Good']

## ***Question 14: Temperature Conversion***

Convert Celsius to Fahrenheit:


celsius_temps = [0, 10, 20, 30, 40]


#### **Expected Output:**


Fahrenheit temps: [32.0, 50.0, 68.0, 86.0, 104.0]

## ***Answer No.14***

In [36]:
celsius_temps = [0, 10, 20, 30, 40]

In [37]:
temp = [(i * 1.8 + 32.0) for i in celsius_temps]

In [38]:
print(f"Fahrenheit temps: {temp}")

Fahrenheit temps: [32.0, 50.0, 68.0, 86.0, 104.0]

## ***Question 15: Data Quality Check***

Identify invalid data points (negative values):


data = [12, -5, 23, -3, 0, 18, -1, 30]


#### **Expected Output:**


Invalid data points: [-5, -3, -1]

## ***Answer No.15***

In [39]:
data = [12, -5, 23, -3, 0, 18, -1, 30]

In [40]:
negatives = [points for points in data if points < 0]

In [41]:
print(f"Invalid data points: {negatives}")

Invalid data points: [-5, -3, -1]