## ***Question No.1***

Q1.

You are given a string:

text = "DataAnalytics"


Print the first 4 characters.

Print the last 5 characters using negative indexing.

## ***Answer No.1***

In [1]:
text = "DataAnalytics"

In [2]:
print(text[0:4])

Data

In [3]:
print(text[-6:-1])

lytic

## ***Question No.2***

Q2.


Given a dictionary:

car = {"brand": "Toyota", "model": "Corolla", "year": 2020}


Change the value of "year" to 2023.

Add a new key "color": "White".

Remove the key "model".

## ***Answer No.2***

In [4]:
car = {"brand": "Toyota", "model": "Corolla", "year": 2020}

In [5]:
car.update({"brand": "Toyota", "model": "Corolla", "year": 2023})

In [6]:
print(car)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2023}

In [7]:
car["color"] = "white"

In [8]:
print(car)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2023, 'color': 'white'}

In [9]:
print(car.pop("model"))

Corolla

In [10]:
car

{'brand': 'Toyota', 'year': 2023, 'color': 'white'}

## ***Question No.3***

You are given two lists:

list1 = [1, 2, 3, 4, 5, 6]

list2 = [4, 5, 6, 7, 8, 9]


Convert both lists into sets.

Find elements that are common in both lists (intersection).

Find elements that are in either list1 or list2 but not both (symmetric difference).

Finally, print the total number of unique elements after combining both lists.

## ***Answer No.3***

In [11]:
list1 = [1, 2, 3, 4, 5, 6]

In [12]:
list2 = [4, 5, 6, 7, 8, 9]

In [13]:
set1 = set(list1)

In [14]:
set2 = set(list2)

In [15]:
set1

{1, 2, 3, 4, 5, 6}

In [16]:
set2

{4, 5, 6, 7, 8, 9}

In [17]:
common = set1.intersection(set2)

In [18]:
print(common)

{4, 5, 6}

In [19]:
not_common = set1.symmetric_difference(set2)

In [20]:
print(not_common)

{1, 2, 3, 7, 8, 9}

In [21]:
union = set1.union(set2)

In [22]:
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## ***Question No.4***

You are given a nested data structure:

student = {
    "name": "Ali",
    "details": {
        "age": 20,
        "subjects": ["Math", "Science", "Python"]
    }
}


Print the student’s age.

Add a new subject "SQL" to the list of subjects.

Change the age to 21.

Print the updated dictionary.

## ***Answer No.4***

In [23]:
student = {
    "name": "Ali",
    "details": {
        "age": 20,
        "subjects": ["Math", "Science", "Python"]
    }
}

In [24]:
print(student["details"]["age"])

20

In [25]:
student["details"]["subjects"].append("SQL")

In [26]:
print(student)

{'name': 'Ali', 'details': {'age': 20, 'subjects': ['Math', 'Science', 'Python', 'SQL']}}

In [27]:
student["details"]["age"] = 21

In [28]:
print(student)

{'name': 'Ali', 'details': {'age': 21, 'subjects': ['Math', 'Science', 'Python', 'SQL']}}

## ***Question No.5***

Write a program that asks the user for:

Age

Marks

If age is greater than 18 and marks ≥ 60 → print "Eligible for Admission".

If age is less than 18 but marks ≥ 80 → print "Exceptional Admission".

Otherwise → print "Not Eligible".

## ***Answer No.5***

In [34]:
age = float(input("Please enter your age:"))

Please enter your age: 17

In [35]:
marks = float(input("Please enter your marks:"))

Please enter your marks: 82

In [36]:
if age >= 18 and marks >= 60:
    print(f"Eligible for Admission")
elif age < 18 and marks >= 80:
    print(f"Exceptional Admission")
else:
    print(f"Not Eligible")

Exceptional Admission

## ***Question No.6***

You are given a list of numbers:

numbers = [12, 7, 19, 4, 15, 8]


Print only the even numbers from the list.

Print the sum of odd numbers.

Replace the number 19 with 20.

Sort the list in ascending order and print it.

## ***Answer No.6***

In [37]:
numbers = [12, 7, 19, 4, 15, 8]

In [46]:
print("Even Number:" , [num for num in numbers if num % 2 == 0])

Even Number: [12, 4, 8]

In [49]:
print("Sum of Odd Numbers:", sum([num for num in numbers if num % 2 != 0]))

Sum of Odd Numbers: 41

In [53]:
index = numbers.index(19)

In [54]:
numbers[index] = 20

In [55]:
print(numbers)

[12, 7, 20, 4, 15, 8]

In [57]:
numbers.sort()

In [58]:
numbers

[4, 7, 8, 12, 15, 20]

## ***Question No.7***

Given the string:


text = "Data Analytics with Python is interesting"


Convert the string into a list of words.

Count how many words the string has.

Replace the word "Python" with "SQL".

Join the list back into a single string (words separated by -).

## ***Answer No.7***

In [67]:
words = text.split()

In [68]:
words

['Data', 'Analytics', 'with', 'Python', 'is', 'interesting']

In [69]:
count = len(words)

In [70]:
count

6

In [71]:
words[words.index("Python")] = "SQL"

In [72]:
words

['Data', 'Analytics', 'with', 'SQL', 'is', 'interesting']

In [74]:
new_string = "-".join(words)

In [75]:
print(new_string)

Data-Analytics-with-SQL-is-interesting

## ***Question No.8***

Write a Python program that takes a sentence from the user.

Count how many vowels (a, e, i, o, u) are in the sentence.

Count how many consonants are in the sentence.

Print both counts.

## ***Answer No.8***

In [80]:
sentence = input("Please write here:").lower()

Please write here: hello

In [81]:
vowels = "aeiou"

In [82]:
vowels_count = 0

In [83]:
consonant_count = 0

In [85]:
for character in sentence:
    if character in vowels:
        vowels_count += 1
    elif character .isalpha():
        consonant_count += 1

In [86]:
print(vowels_count)

2

In [87]:
print(consonant_count)

3