## ***Question No.1***

Question 1: Two-List Synchronization

Given two lists of equal length, one containing student names and the other their ages, use a for loop to create a single dictionary where each student's name is a key and their age is the corresponding value.

names = ["Ali", "Sara", "John", "Zara"]

ages = [22, 25, 23, 27]

## ***Answer No.1***

In [1]:
names = ["Ali", "Sara", "John", "Zara"]
ages = [22, 25, 23, 27]
student_dictionary = {}

for name, age in zip(names, ages):             #Used Zip function for multiple iterables.
    student_dictionary[name] = age

In [2]:
student_dictionary

{'Ali': 22, 'Sara': 25, 'John': 23, 'Zara': 27}

## ***Question No.2***

Question 2: Categorizing Data into Bins

Write a program that iterates through the list of scores. Use a for loop to count how many scores fall into three different categories: "High" (90-100), "Medium" (70-89), and "Low" (below 70). Store the final counts in a dictionary.

scores = [95, 82, 65, 78, 90, 88, 55, 100]

## ***Answer No.2***

In [3]:
scores = [95, 82, 65 ,78, 90, 88, 55, 100]

In [4]:
score_categories = {"High": 0, "Medium": 0, "Low": 0}

for score in scores:
    if score >= 90:
        score_categories["High"] +=1
    elif score >= 70:
        score_categories["Medium"] +=1
    else:
        score_categories["Low"] +=1

In [5]:
score_categories

{'High': 3, 'Medium': 3, 'Low': 2}

## ***Question No.3***

Question 3: Finding Missing Records

You have a list of all employee IDs and a dictionary of active employees. Use a for loop to identify and print the IDs of the employees who are in the all_ids list but are NOT present in the active_employees dictionary.

all_ids = ["E001", "E002", "E003", "E004"]

active_employees = {"E001": "Bilal", "E003": "Hina"}

## ***Answer No.3***

In [6]:
all_ids = ["E001", "E002", "E003", "E004"]

active_employees = {"E001": "Bilal", "E003": "Hina"}

In [7]:
inactive_employees = []

for i in all_ids:
    if i not in active_employees:
        inactive_employees.append(i)

In [8]:
inactive_employees

['E002', 'E004']

## ***Question No.4***

Question 4: Conditional Summation with a Limit

Loop through the list of numbers. Calculate the running total. If the total exceeds 50, print the current total and the message "Total exceeded limit!", then stop the loop immediately.

data = [10, 15, 20, 12, 5, 8, 30]

## ***Answer No.4***

In [9]:
data = [10, 15, 20, 12, 5, 8, 30]

running_total = 0

for num in data:
    running_total += num
    if running_total > 50:
        print(f"Current Total: {running_total}")
        print("Total exceeded limit!")
        break

Current Total: 57
Total exceeded limit!

## ***Question No.5***

Question 5: String Sanitization

Given a messy string, use a for loop to create a new, sanitized string that:

Removes all punctuation (. , !).

Replaces multiple spaces with a single space.

Converts the entire string to lowercase.

text = "  Data...is, a! powerful tool  ."

## ***Answer No.5***

In [10]:
text = " Data...is, a! powerful tool ."

In [11]:
clean_text = ""                              #First Initialized an empty string variable to store result.

for character in text.lower():               #Started the loop and used lower func while defining the loop.
    if character in ",.!":          
        character = " "                      #If found the unnecessary characters then replace them with single space.
    clean_text += character

clean_text = " ".join(clean_text.split())    #Used the join and split function simultaneously.

In [12]:
clean_text

'data is a powerful tool'

## ***Question No.6***

Question 6: Complex Filtering of a Dictionary List

Iterate through the list of products. Using a for loop, print the name and price of any product that is both "in stock" AND has a price lower than $50.

products = [
    {"name": "Mouse", "price": 45, "in_stock": True},
    {"name": "Keyboard", "price": 60, "in_stock": False},
    {"name": "Webcam", "price": 48, "in_stock": True},
    {"name": "Monitor", "price": 120, "in_stock": True}
]

## ***Answer No.6***

In [13]:
products = [ 
    {"name": "Mouse", "price": 45, "in_stock": True}, 
    {"name": "Keyboard", "price": 60, "in_stock": False}, 
    {"name": "Webcam", "price": 48, "in_stock": True}, 
    {"name": "Monitor", "price": 120, "in_stock": True} 
]

In [14]:
for product in products:
    if product["price"] > 50 and product["in_stock"]:
        print(f"Name of Product: {product['name']}\nPrice of Product: {product['price']}")

Name of Product: Monitor
Price of Product: 120

## ***Question No.7***

Question 7: Dynamic Dictionary Update

Given the sales dictionary below, iterate through its items. If a product's value (sales) is less than 500, increase its sales value by 10%.

Print the updated dictionary at the end.

sales = {"product_a": 450, "product_b": 600, "product_c": 300, "product_d": 800}

## ***Answer No.7***

In [15]:
sales = {"product_a": 450, "product_b": 600, "product_c": 300, "product_d": 800}

In [16]:
for product, sale in sales.items():
    if sale < 500:
        sales[product] = round(sale * 1.10)

print("Updated Sales:", sales)

Updated Sales: {'product_a': 495, 'product_b': 600, 'product_c': 330, 'product_d': 800}

## ***Question No.8***

Question 8: Creating a New List with a Condition

Create a new list containing only the square of each even number from the original list. Odd numbers should be skipped.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## ***Answer No.8***

In [17]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
new = []

for number in numbers:
    if number % 2 == 0:
       new.append(number**2)

In [19]:
new

[4, 16, 36, 64, 100]